<!-- Page Heading -->
            <div class="page-heading">
              <img src="images/Viking_Horn.png" alt="Viking Horn">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1>About us</h1>
                    <p><strong>Release The Kringle! </strong> was founded on March 17, 2021. One of our founders, Brett Kringles, on a rainy night needed to satisfy his hunger, therefore he crawled into Trader Joes and found some Raspberry Kringles. He then inspired us founders to bake Kringles for a living. Our freshly made Kringles from Kalifornia are amazing for the holidays and whenever you crave for sweets. They are great gifts for your loved ones and will continue to be your favorite dessert once you try our Kringles.
                      </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Simple Post -->
            <section class="simple-post">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <img src="images/aboutme.jpg" alt="">
                    <div class="down-content">
                      <p>Our Kringles are made fresh daily. They are topped with icing glaze with many different flavor fillings that you can check out in our menu. They are 12 inches length and are deliciously made. </p>
                      
                    </div>
                  </div>
                </div>
                
              </div>
            </section>
            <br>
            <div>
              <h1>Our Founders</h1>
            </div>
            <section class="simple-post">
              <div class="container-fluid">
               <div class="row">
                  <div class="col-md-6">
            <h2>Brett Kringle</h2>
                      <img src="images/Brett.jpg" alt="Brett Kringles">
                      <p>Email: brett@releasethekringle.com</p>
                      <br><br>

                  </div>
                  <div class="col-md-6">
            <h2>Damon Kringle</h2>
                      <img src="images/Damon.jpg" alt="Damon Kringles">
                      <p>Email: damon@releasethekringle.com</p>
                    </div>
                </div>
                
              </div>
              </section>
              
              <section class="simple-post">
              <div class="container-fluid">
              
                <div class="row">
                  <div class="col-md-6">
            <h2>Kristina Kringle</h2>
                       <img src="images/kristina.jpg" alt="Kristina Kringles">
                       <p>Email: kristina@releasethekringle.com</p>
                      <br><br>

                  </div>
                  <div class="col-md-6">
            <h2>Jess.JS Kringle</h2>
                      <img src="images/jesskringles.jpg"  alt="Jess with a Kringle">
                      <p>Email: jess@releasethekringle.com</p>
                      

                
              </div>
              </section>
               <br>
               <div>
                <h1>Bakery Locations</h1>
               </div>  
              <section class="simple-post">
                <div class="container-fluid">
                
                 <div class="row">
                    <div class="col-lg-4">
              <h2>Orange County</h2>
              <address>
                6875 Quail Hill Pkwy #6601<br>
                Irvine, CA 92603<br>
                Phone: (949) KRINGLE
                </address>
                        <br>
  
                    </div>
                    <div class="col-lg-4">
              <h2>Los Angeles</h2>
              <address>
                8500 Beverly Blvd<br>
                Los Angeles, CA 90048<br>
                Phone: (626) KRINGLE
                </address>
                        <br>
  
                    </div>
                    <div class="col-lg-4">
              <h2>San Diego</h2>
              <address>
                1640 Camino Del Rio N<br>
                San Diego, CA 92108<br>
                Phone: (619) KRINGLE
                </address>
                        <br>
                  
                </div>
                </section>

            <!-- Contact Form -->
            <section class="contact-form">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <h2>Contact us!</h2>
                    <br>
                    <form id="contact" action="" method="post">
                      <div class="row">
                        <div class="col-md-12">
                          <fieldset>
                            <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <input name="email" type="text" class="form-control" id="email" placeholder="Your email..." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <button type="submit" id="form-submit" class="button">Send Message</button>
                          </fieldset>
                        </div>
                      </div>
                    </form> 
                  </div>
                  <div class="col-md-6">
                    <div id="map">
            
                      <h2>Our Corporate Office</h2>
                      <br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3321.291288258136!2d-117.76684208512857!3d33.64961354628807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dce7f2c608aa3f%3A0x75492b2309fac55!2sSpectrum%20Terrace!5e0!3m2!1sen!2sus!4v1616271548533!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>
