<!-- Banner -->
            <section class="main-banner">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="banner-content">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="banner-caption">
                            <h4>Slepptu Kringlunni!</h4>
                            <span>The finest kringles on planet earth!</span>
                            <p>Did you know that <strong>"Release the Kringle!"</strong> was first roared by Eric the red when he claimed the land that is now Canada. He and his men feasted on Kringles throughout the night. And it was good.</p>
                            <div class="primary-button">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Top Image -->
            <section class="top-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <img src="images/RTK_HQ1.png" alt="">
                    <div class="down-content">
                      <h4>Humble Beginnings...</h4>
                      <p>Our recipe has been passed down from Erik the Red's Mother.</p>
                      <div class="primary-button">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Left Image -->
            <section class="left-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <img src="images/Kringle_One.jpeg" alt="">
                  </div>
                  <div class="col-md-6">
                    <div class="right-content">
                      <h4>Seasonal Kringles</h4>
                      <p>Feast and be merry.</p>
                      <div class="primary-button">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Right Image -->
            <section class="right-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="left-content">
                      <h4>Have a buzz with your warrior treat.</h4>
                      <p>It is always time for a stiff drink and a beastly pastry.</p>
                      <div class="primary-button">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <img src="images/Kringle_Two.jpeg" alt="">
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>