<section class="simple-post">

    <div class="container-fluid dessert-container">
        <div class="row">
            <div class="col-md-6">

                <div class="text-center">
                    <div class="padding-64">
                        <h1>Kringle Kash Rewards</h1>
                    </div>
                    <div class="padding-lr-bottom-64">
                        <h2>Kash: 500 <span id="pointTxtId"></span></h2>
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <div class="text-center">
                    <div class="padding-64">
                        <h1>Kringle of the Month!</h1>
                    </div>

                    <div class="padding-lr-bottom-64">
                        <strong>
                            <h2>Turtle Kringle</h2>
                        </strong>
                        <img src="/images/Kringle-month.jpg" width=100px alt="Turtle Kringle">
                        <p class="dessert-txt">Our Turtle Kringle is a chocolate lover's dream. Filled with creamy
                            caramel drenched in fancy pecans and a homemade chocolate sauce surrounded by our flaky
                            pastry. We then top it off with a special blend of more semi-sweet chocolate and a sprinkle
                            of pecans, to satisfy anyone with a sweet tooth</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <img src="/images/Viking_Head.png" alt="Viking Head" />
</section>


</div>
</div>